.main-page {
    display: flex;
    height: 100vh; // vh adalah viewport height, agar tidak bisa di scroll
    box-sizing: border-box;
}

.left {
    flex: 1;
    background-color: red;
    height: 100%;
    .bg-image {
        width: 100%;
        object-fit: cover;
    }
}

.right {
    width: 460px;
    background-color: white;
    padding: 30px;

    // Membuatnya ketengah
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
        font-size: 20px;
        font-weight: bold;
        color: #2D2D2D;
    }
}